* {
	box-sizing: border-box;
}


.box {
	width: 50%;
	border: solid 1px green;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.column1 {
	float: left;
}

.column2 {
	float: right;
}

.paragraph1 {
	color: red;
}

.paragraph2 {
	color: peachpuff;
}

.largeButton {
	width: 50%;
	margin: auto;
	padding: 10vw;
	height: 100px;
	background-color: peachpuff;
	text-align: center;

}

.smallButton {
	float:right;
}

.popup {
	position: fixed;
	top: 10vw;
	bottom: 10vw;
	left: 20vw;
	right: 20vw;
	width: 60vw;
	height: 80vh;
	margin: auto;
	background-color:rgba(192,192,192,0.5);
}